/* .modal-pc{
    width: 742px;
    height: 519px;
    color: #fff;
}

.modal-pc .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    padding: 0 1rem 0 1rem;
} */

#pc-modal .modal__close-button {
}

#pc-modal .main-info {
    display: flex;
    overflow: scroll;
}

#pc-modal .computer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pc-modal .modal__container .objects {
    max-height: 100%;
    /* min-width: 500px; */
    margin: 0px 10px 0 10px;
}

#pc-modal .modal__container .objects .programs.active .program {
    display: block;
}

#pc-modal .modal__container .objects .programs .program {
    display: none;
}

#pc-modal .left-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pc-modal .history {
    position: absolute;
    top: 0;
    width: 171px;
    background: var(--dropdown-bg);
    height: 100%;
    border-radius: 10px;
    display: flex;
    transform: translateZ(-1px);
    transition: cubic-bezier(0.93, -0.24, 0.2, 1) 1s;
    flex-direction: column;
}

#pc-modal .pc {
    background-color: #d2e4fb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 5px 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
}

#pc-modal .pc #timestamp {
    text-align: center;
    white-space: normal;
    width: 122px;
}

#pc-modal .pc span {
    color: #000;
}

#pc-modal .notes{
    background: var(--theme-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

#pc-modal .history span {
    background: var(--theme-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    width: 85%;
}

#pc-modal .notes span {
    color: white;
}

#pc-modal .history-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--theme-bg-color);
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap;
}

#pc-modal .modal__container .objects span {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}